<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main class="container">
	<div class="py-4 ml-5 mr-5">
		<div class="card bg-dark">
			<div class="card-header text-white" th:text="${titulo}"></div>
			<div class="card-body">
			<section th:replace="layout/layout ::mensajes"></section>
				<h4 class="card-title text-end">
				<a th:href="@{/equipos/form}" class="btn btn-primary"><i class="fa fa-solid fa-circle-plus"></i></a>
				
				<a th:href="@{/equipos/exportarPDF}" class="btn btn-danger"><i class="fa fa-solid fa-file-pdf"></i></a>
				
				<a th:href="@{/equipos/exportarExcel}" class="btn btn-success"><i class="fa fa-solid fa-file-excel"></i></a>
				</h4>
				
				<div class="table-responsive-lg">
				<table class="table table-dark table-striped">
					<thead>
						<tr>
						<th class="text-white">Id Equipop</th>
						<th class="text-white">Modelo</th>
						<th class="text-white">Marca</th>
						<th class="text-white">Ram</th>
						<th class="text-white">Procesador</th>
						<th class="text-white">Almacenamineto</th>
						<th class="text-white">Tipo</th>
						<th class="text-white">Fecha de compra</th>
						<th class="text-white">Asignado a</th>
						<th colspan="3" class="text-white">Acciones</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="equipo : ${equipos}">
						<td class="text-white" th:text="${equipo.id}"></td>
						<td class="text-white" th:text="${equipo.modelo}"></td>
						<td class="text-white" th:text="${equipo.marca}"></td>
						<td class="text-white" th:text="${equipo.ram}"></td>
						<td class="text-white" th:text="${equipo.procesador}"></td>
						<td class="text-white" th:text="${equipo.almacenamiento}"></td>
						<td class="text-white" th:text="${equipo.tipo}"></td>
						<td class="text-white" th:text="${equipo.fechaCompra}"></td>
						<td th:if="${equipo.empleado}" class="text-white" th:text="${equipo.empleado.nombre}+' ' +${equipo.empleado.apellido}"></td>
						<td><a class="btn btn-info btn-sm" th:href="@{/equipos/ver/} + ${equipo.id}">Detalle</a></td>
						<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-warning btn-sm" th:href="@{/equipos/form/}+${equipo.id}">Editar</a></td>
						<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger btn-sm" th:href="@{/equipos/eliminar/}+${equipo.id}" onClick="return confirm('¿Estas seguro de eliminar al proveedor?');">Elimnar</a></td>
					</tr>
					</tbody>
				</table>
				</div>
				
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>